<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-row>
      <ion-item>
        <ion-label>Usuario: </ion-label>
        <ion-input placeholder="Ingrese Usuario"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-start">
      <ion-col size="auto">
        <ion-button color="primary" [routerLink]="['/ingreso']">Recuperar</ion-button>
      </ion-col>
    </ion-row>
    
</ion-content>

