ion-icon {
    font-size: 20px;
  }

ion-label {
    font-size: 18px;
  }

.grid-titulo {
  background-color: rgb(223, 225, 92);
}

.grid-cuerpo {
  background-color: rgb(241, 243, 159);
}

p{
  color: green;
}
.margen{
  margin-top: 0;
}
.margenBoton{
  margin-top: 20px;
}