.square {  
    width: 100px;
    height: 100px;
    background: #1c19c780;
    margin: 10px;
  }

  ion-icon {
    font-size: 20px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
 }

 .header-row {
  background: #7163AA;
  color: #fff;
  font-size: 18px;
}

ion-col {
  border: 1px solid #ECEEEF;
}

p {
  font-size: 20px;
  font-weight: bold;
  color: black;

}