<ion-header>
  <app-encabezado [pageTitle]="tituloPagina" [iconTitle]="iconoEncabezado"> </app-encabezado>

</ion-header>

<ion-content>
 
  <div><img src="assets/icon/header_clases.jpg" /></div>

  <ion-list lines="full">
    <ion-list-header >
      <ion-label><p>Hoy</p></ion-label>
    </ion-list-header>
    <ion-item color="light">
      <ion-label>14:00 Estadistica</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>15:30 Inglés</ion-label>
    </ion-item>
    <ion-item color="light">
      <ion-label>17:30 Programación </ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="full">
    <ion-list-header >
      <ion-label><p>Lunes 24 octubre</p></ion-label>
    </ion-list-header>
    <ion-item color="light">
      <ion-label>14:00 Arquitectura</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>15:30 Inglés</ion-label>
    </ion-item>
    <ion-item color="light">
      <ion-label>17:30 Calidad de Software </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
