<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ingreso Usuario</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div>
    <ion-item>
      <ion-label>Usuario: </ion-label>
      <ion-input placeholder="Ingrese Usuario"></ion-input>
    </ion-item>
  </div>
  <div>
    <ion-item>
      <ion-label>Contraseña: </ion-label>
      <ion-input placeholder="Ingrese Contraseña" type="password"></ion-input>
    </ion-item>
  </div>

  <ion-row class="ion-justify-content-start">
    <ion-col>
      <div></div>
    </ion-col>
    <ion-col size="auto" size-md="6" push-md="6">
      <div>
        <ion-button color="myColor" [routerLink]="['/home']">Ingresar</ion-button>
      </div>
    </ion-col>
    <ion-col>
      <div></div>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-start">
    <ion-col>
      <div></div>
    </ion-col>
    <ion-col size="auto" size-md="6" push-md="6">
      <div>
        <ion-button class="fondoBlanco" size="small" fill="clear" color="danger" [routerLink]="['/restablecer-contra']">¿Has olvidado tu contraseña?</ion-button>
      </div>
    </ion-col>
    <ion-col>
      <div></div>
    </ion-col>
  </ion-row>
