<ion-header>
  <ion-toolbar>
    <ion-title>Ingreso Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item>
      <ion-label>Usuario: </ion-label>
      <ion-input placeholder="Ingrese Usuario"></ion-input>
    </ion-item>
  </div>
  <div>
    <ion-item>
      <ion-label>Contraseña: </ion-label>
      <ion-input placeholder="Ingrese Contraseña" type="password"></ion-input>
    </ion-item>
  </div>
  <ion-row class="ion-justify-content-center">
    <ion-col size="3">
      <ion-button color="primary" [routerLink]="['/home']">Ingresar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
